<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/atualizar/{{getDados.id}}">
        {% csrf_token %}
            <fieldset style="width: 50%; background-color: aqua; position: absolute; left: 25%;">
                <legend style="text-align: center; color: blue;">
                    EDITAR OS DADOS
                </legend>
                <div>
                    Nome do setor: <input type="text" name="nome_produto" value="{{getDados.nome_produto}}" />
                </div>
                <br>
    
                <div>
                    Funcionarios: <input type="number" name="quantidade" value="{{getDados.quantidade}}" />
                </br>
                <br>
    
                <div style="text-align: center;">
                    <button style="cursor: pointer;" type="submit">EDITAR</button>
                </div>
            </fieldset>
    </form>
</body>

</html>