<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro</title>
</head>

<body>
    <form method="POST" action="/salDados">
        {% csrf_token %}

        <fieldset style="position: absolute; left: 30%; background-color: aqua; width: 50%; height: 50%;">
            <legend style="text-align: center;">
                PÁGINA DE CADASTRO
            </legend>
            <div>
                <a style="text-decoration-line: none;" href="/dados">Página de dados</a>
                <div style="text-align: center;">
                    <p>Nome do produto:</p>
                    <input type="text" name="nome_produto" value="{{getDados.nome_produto}}">
                </div>
                <div style="text-align: center;">
                    <p>Quantidade:</p>
                    <input type="text" id="campoDeEntrada" name="quantidade" value="{{getDados.quantidade}}">
                </div>
                <div style="position: absolute; left: 38%; position: absolute; top: 55%;">
                   <button type="button" onclick="aumentarValor()" style="cursor: pointer;">Aumentar</button>
                   <button type="button" onclick="diminuirValor()" style="cursor: pointer;">Diminuir</button>
                </div>
                <div style="text-align: center; position: absolute; top: 70%; left: 43%;">
                    <br>
                    <button style="cursor: pointer;" type="submit">SALVAR</button>
                </div>
            </div>
        </fieldset>
    </form>
    <script>
        function aumentarValor() {
             var campo = document.getElementById('campoDeEntrada');
             var valorAtual = parseFloat(campo.value) || 0;
             valorAtual++;
             campo.value = valorAtual;
         }

        function diminuirValor() {
             var campo = document.getElementById('campoDeEntrada');
             var valorAtual = parseFloat(campo.value) || 0;
             valorAtual--;
             campo.value = valorAtual;
         }
     </script>
     
</body>
</html>